@model MvcWeb.ViewModels.LoginAccountViewModel

@{
    ViewBag.Title = "Authenticate";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Login</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 white-text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @Value="shanevdb@hotmail.nl" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "orange-text" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 white-text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @Value="123456" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "orange-text" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default white black-text" />
            </div>
        </div>
    </div>
}